   @import url(https://fonts.googleapis.com/css?family=Exo+2:200,300);
   /* Reset */
   
   html {
       scroll-behavior: smooth;
   }
   /* Header */
   
   header {
       display: flex;
       align-items: center;
       justify-content: space-around;
       background: rgb(2, 0, 36);
       background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(64, 2, 108, 1) 33%, rgba(108, 2, 42, 1) 100%);
   }
   
   header a {
       color: #FFF;
       text-decoration: none;
   }
   
   header img {
       margin: 0;
       padding: 0;
       width: 115px;
   }
   /* Navbar */
   
   nav {
       display: flex;
       border-radius: 20px;
       background: rgb(2, 0, 36);
       background: linear-gradient(90deg, rgb(76, 61, 103) 33%, rgba(108, 2, 42, 1) 100%);
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }
   
   nav {
       background-color: transparent;
       border: 0;
       margin-left: 50px;
       text-align: center;
   }
   
   nav .nav-link:hover {
       color: rgb(255, 197, 6);
   }
   
   nav .nav-link {
       margin-left: 5px;
       font-size: 16px;
       color: #FFF;
       text-decoration: none;
   }
   /* Section */
   
   section .card {
       box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
       margin-bottom: 10px;
   }
   /* Carousel */
   
   #demo {
       width: 60em;
       margin-left: 0;
       margin-right: 0;
       display: inline-block;
       margin-bottom: 2em;
   }
   /* Containers */
   
   #container-one {
       text-align: center;
       padding-top: 1.5em;
       background-color: #FFF;
   }
   
   #container-one .text-main {
       font-size: 1.4em;
       margin-bottom: 1em;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   
   #container-one p {
       margin: 0;
       font-size: 13px;
       color: #40026c;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   
   #container-two {
       display: flex;
       color: #FFF;
       align-items: center;
       background-color: rgb(36, 39, 99);
   }
   
   #container-two img {
       padding: 0;
       margin: 4em;
       max-width: 400px;
       align-items: center;
   }
   
   #container-two p {
       font-size: 22px;
       margin-left: 2em;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   
   #container-three {
       display: flex;
       align-items: center;
       color: rgb(36, 39, 99);
       background-color: rgb(255, 255, 255);
   }
   
   #container-three p {
       font-size: 21px;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   
   #container-three img {
       padding: 0;
       margin: 4em;
       max-width: 350px;
       align-items: center;
   }
   
   #container-four {
       margin-bottom: 7em;
   }
   
   #main-container-four-row {
       margin: 1em;
       font-size: 20px;
       text-align: center;
       border-radius: 10px;
   }
   
   #container-four .card {
       width: 13rem;
       height: 28rem;
       text-align: center;
       border-radius: 0px 0px 30px 5px;
   }
   /* Footer */
   
   footer {
       font-size: 15px;
       text-align: center;
       justify-content: space-around;
       color: rgba(255, 255, 255, 0.612);
       background: radial-gradient(circle, #3c1919, #000000);
   }
   
   footer p {
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   
   footer .btn-link {
       text-decoration: none;
       color: rgba(255, 255, 255, 0.612);
   }
   
   footer .footer-link:hover {
       color: rgb(212, 209, 209);
   }
   
   .main-tittle {
       font-size: 19px;
       margin-top: 10px;
       margin-bottom: 20px;
       font-family: Georgia, 'Times New Roman', Times, serif
   }
   
   .footer-link {
       list-style: none;
       text-decoration: none;
       color: rgba(255, 255, 255, 0.612);
   }
   /* Media */
   
   @media (max-width: 1280px) {
       nav {
           padding: 0;
       }
       input,
       form {
           margin: 0;
           padding: 0;
           text-align: center;
       }
       #container-one {
           display: flex;
           align-items: center;
           margin-bottom: 1.5em;
       }
       #container-one .text-main,
       #container-two p,
       #container-three p {
           font-size: 17px;
       }
       #container-two img,
       #container-three img {
           width: 150px;
           margin: 2em;
       }
       #cards-four-row {
           margin-left: 100px;
           margin-right: 0;
           padding: 0;
       }
   }
   
   @media (max-width: 600px) {
       header img {
           margin-right: -55px;
           padding: 0;
       }
       nav .nav-link {
           margin: 0;
           font-size: 12px;
       }
   }
   
   @media (max-width: 380px) {
       body {
           display: inline-block;
       }
   }